* {
	color: #e3e5e9;
	background: transparent;
	border: none;
	font-family: Roboto, "Hack Nerd Font", Twemoji, monospace;
	font-size: 13px;
	font-weight: bold;
	text-shadow: 1px 1px 1px #282c34, 1px -1px 1px #282c34, -1px 1px 1px #282c34,
		-1px -1px 1px #282c34;
}

#workspaces button {
	color: #282c34;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 0px;
	padding-right: 0px;
	margin: 0px;
}

@keyframes urgent {
	to {
		background-color: #e88388;
	}
}

#workspaces button.urgent {
	animation-name: urgent;
	animation-duration: 0.3s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#workspaces button.focused {
	border-style: solid;
	border-width: 2px;
	border-color: #ebca8d;
	background-color: #ebca8d;
	padding-top: 0px;
	padding-bottom: 0px;
	border-radius: 16px;
}

#window {
	padding-bottom: 4px;
	padding-left: 2px;
	padding-right: 2px;
}

#clock, #battery, #cpu, #memory, #pulseaudio, #network, #idle_inhibitor, #custom-weather, #custom-keymap {
	margin-left: 18px;
	padding-bottom: 4px;
}

#clock {
	margin-right: 10px;
}

@keyframes warn {
	to {
		color: #e88388;
	}
}

#battery.critical:not(.charging) {
	animation-name: warn;
	animation-duration: 0.3s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
